@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    font-family: "Open Sans", sans-serif;
    }
    
footer{
    background: #003366; 
    color: white; 
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.3em;
}

#footerLogo {
    width: 6em;
}

#footerLinksCon {
margin-bottom: 1em;
}

#footerLinksCon a{
    color: white; 
    text-decoration: none;
    padding: 0.4em;
    transition: 0.5s ease;
}
#footerLinksCon a {
    font-size: large;
}
#footerLinksCon a:hover{
    color: #FFA726; 
}

#footerIconsCon{
    margin-bottom: 1em;
}

#footerIconsCon i{
    padding: 0.5em;
    transition: 0.5s ease;
}
#footerIconsCon i:hover{
    color: #FFA726;
    transform: scale(1.3);
}

#copyright {
    font-size: 0.6em;
    font-weight: 400;
}
.iframeMap{
    height: 0px;
    width: 500px;
    transition: 0.5s;
}
.iframeMap.active{
    height: 300px;
    width: 500px;
}
@media screen and (max-width: 426px) {

    footer {
        width: 120%;
    }
}


