body{
    background-color: #F5F5F5 !important;
}


.error {
    color: red;
    font-size: 0.8em;
}

.fa-lock:before {
    content:none;
}


.fa-envelope:before{
    content:none;
}



@media (max-width: 426px) {
    body { 
       
        padding: 30px !important;
    }}

    .btn-primary { 
        background-color: #FFA726 !important;
        color: #ffffff !important;
        border: none !important;
        border-radius: 4px !important;
        padding: 10px 20px !important;
        font-weight: 500 !important;
    }
    
    a {
        color:  #003366 !important;
    }
    a:hover {
        color: #007bff !important;
    }
    
    .text-center {
        text-align: center !important;
        color: #003366;
        font-weight: 700 !important;
        font-size: 50px !important;
        text-shadow: 0 7px 6px rgba(0, 0, 0, 0.2);
    }


