body{
    background-color: #F5F5F5 !important;
}
.vh-100 {
    background-color: #F5F5F5 !important;
    height: 100vh !important;
}
label {
    display: inline-block;
    /* margin-bottom: .5rem; */
}

.mb-4, .my-4 {
    margin: -10px !important;
    padding: 0px 20px !important;
}
p.text-center.h1.fw-bold.mb-5.mx-1.mx-md-4.mt-4 {
    margin-bottom: 10px !important;
}
.container.h-100 {
    height: auto !important;
}
p.text-center.h1.fw-bold.mb-5.mx-1.mx-md-4.mt-4 {
    font-size: 45px !important;
}

.error {
  color: red;
  font-size: 0.7em;
  display: inline-block;  
  min-height: 0.5em;  
  color: red;  
}

footer {
    margin-top: 50px;
}

#registerButton {

    background-color: #FFA726 !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    font-weight: 500 !important;

}

.logins {
    color:  #003366 !important;
}
.logins:hover {
    color: #007bff !important;
}

.text-center {
    text-align: center !important;
    color: #003366;
    font-weight: 700 !important;
    font-size: 50px !important;
    text-shadow: 0 7px 6px rgba(0, 0, 0, 0.2);
}

.p-md-5 {
    padding: 0rem !important;
}
div#fullBody {
    padding: 0 !important;
}




@media (max-width: 426px) {
    .vh-100 { height: 140vh !important }
    footer {
        margin-top:384px !important;
    }
}

@media (min-width: 768px) {
    .p-md-5 {
        padding: 0rem !important;
    }
}
